<?xml version="1.0" encoding="utf-8"?>
<odoo>
    
    <!-- Main Menu: Courier Dispatch (under Point of Sale) -->
    <menuitem id="menu_courier_dispatch_root" 
              name="Courier Dispatch" 
              parent="point_of_sale.menu_point_root" 
              sequence="50" 
              groups="pos_courier_dispatch.group_courier_user"/>
    
    <!-- Sub-menu: Dispatches -->
    <menuitem id="menu_courier_dispatches" 
              name="Dispatches" 
              parent="menu_courier_dispatch_root" 
              action="action_courier_dispatch" 
              sequence="10"/>
    
    <!-- Sub-menu: Courier Companies -->
    <menuitem id="menu_courier_companies" 
              name="Courier Companies" 
              parent="menu_courier_dispatch_root" 
              action="action_courier_company" 
              sequence="20" 
              groups="pos_courier_dispatch.group_courier_manager"/>

</odoo>
